:root{
    --mainColor: #15202B;       
    --secondaryColor: #192734;

    --borderColor: #164d56;

    --maintext: #fff;
    --secondaryText: #eeeeee; 

    --themeDotBorder: #fff;     

    --previewBg: rbga(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --buttonColor: #17a2b8;
}